<ion-tabs>
  <ion-tab [root]="tab2Root" tabTitle="Ma liste" tabIcon="fa-list-ul"></ion-tab>
  <ion-tab (ionSelect)="presentModal()" tabTitle="Ajouter un article" tabIcon="fa-plus"></ion-tab>
</ion-tabs>