page-connection {
    #submit{
        margin-top: 40px;
    }
    #title{
        margin-left: 15px;
        font-size: 30px;
    }
    #fp-button{
        height: 70px;
        background-color: transparent;
    }
    #fp-icon{
        font-size: 70px;
        text-align: center;
    }
}
