<ion-header>

  <ion-navbar>
    <ion-title>EasyList</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-label color="dark" id="title">Connexion</ion-label>
  <form (ngSubmit)="connection()">
    <ion-item>
      <ion-input placeholder="Nom d'utilisateur" type="text" [(ngModel)]="Name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder='Mot de passe' type="password" [(ngModel)]="Password" name="password"></ion-input>
    </ion-item>
    <button id="submit" class="center" ion-button type="submit">Se connecter</button>
  </form>
  <ion-buttons end >
      <button id="fp-button" class="center" (click)="verify()"  icon-only><ion-icon id="fp-icon" color="dark" name="finger-print"></ion-icon></button>
    </ion-buttons>
</ion-content>
