<ion-header>
  <ion-navbar>
    <ion-title class="police-m">{{this.item.title}}</ion-title>
    <ion-buttons end>
      <button class="margin-header-button" ion-button icon-only (click)="EditItem()">
        <i class="ion-ios-fa-edit"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div (swipe)="swipeEvent($event)" style="position: absolute;top:0;left:0;height:100%;width:100%;">
    <div class="dark police-m">
      <b>Nom complet : </b>{{this.item.title}}</div>

    <div class="dark police-m">
      <b>Quantité : </b>{{this.item.quantity}}</div>
    <div class="dark police-m" *ngIf="this.item.category">
      <b>Catégorie : </b>{{this.item.category}}</div>

    <div class="dark police-m" *ngIf="this.item.brand">
      <b>Marque : </b>{{this.item.brand}}</div>

    <div class="dark police-m" *ngIf="this.item.weight">
      <b>Poids: </b>{{this.item.weight}}
    </div>

    <div class="dark police-m" *ngIf="this.item.sellingCountry">
      <b>Pays de vente : </b> {{this.item.sellingCountry}}
    </div>

    <div class="dark police-m" *ngIf="this.item.ingredient">
      <b>Ingrédients :</b> {{this.item.ingredient}}
    </div>

    <div class="dark police-m" *ngIf="this.item.packaging">
      <b> Conditionnement : </b> {{this.item.packaging}}
    </div>
    
    <div class="dark police-m" *ngIf="this.item.image">
      <b>Photo : </b>
    </div>
    <img class="center" src="{{pathForImage(this.item.image)}}" style="width: 50%" [hidden]="this.item.image === null" *ngIf="this.item.image">
    <img class="center" src="{{this.item.imageScan}}" style="width: 50%" *ngIf="this.item.imageScan">
  </div>
</ion-content>