page-detail-item {
    
    //Bouton back ios blanc
    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default{
        color: white;
    }
    //Bouton back android blanc
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
        color: white;
    }
}
