<ion-header>
  <ion-navbar>
    <ion-title>
      <img id="logo" height="25px" src="assets/imgs/logo.png"> Ma liste</ion-title>
    <ion-buttons end *ngIf="!editActive">
      <button ion-button icon-only class="list-button margin-header-button" (click)="EditActive(true)">Editer</button>
    </ion-buttons>
    <ion-buttons end *ngIf="editActive">
      <button ion-button icon-only class="list-button margin-header-button" (click)="EditActive(false)">Annuler</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header class="header_list" color="primary-bright">
      <ion-row align-items-start class="police-m">
        <ion-col>Nom</ion-col>
        <ion-col>Quantité</ion-col>
      </ion-row>
    </ion-list-header>
    <div class="AucunElem" *ngIf="this.ListService.itemList.length == 0">Aucun élément</div>
    <ion-item-sliding *ngFor="let itemList of  ListService.itemList">
      <ion-item [attr.detail-push]="!editActive ? true : null" (click)="viewItem(itemList)">
        <ion-avatar item-start>
          <img src="{{pathForImage(itemList.image)}}" *ngIf="itemList.image">
          <img src="{{itemList.imageScan}}" *ngIf="itemList.imageScan">
        </ion-avatar>
        <ion-label color="primary-dark">{{itemList.title.slice(0,20)}}
          <p>{{itemList.category.slice(0,20)}} </p>
        </ion-label>
        <ion-label color="primary-dark" id="quantity">{{itemList.quantity}}</ion-label>
        <ion-checkbox item-right *ngIf="editActive" (ionChange)="SelectItem(itemList)"></ion-checkbox>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" class="supp" (click)="suppItem(itemList)">Supprimer</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="editActive" color="primary-bright">
    <ion-buttons top clear>
      <button ion-button icon-only [disabled]="this.ListService.itemList.length == 0" class="list-button" (click)="ConfirmSuppAll()">Tout supp.</button>
    </ion-buttons>
    <ion-buttons end clear>
      <button ion-button icon-only [disabled]="this.nbChecked == 0" class="list-button" (click)="ConfirmSuppSelected()">Supprimer ({{nbChecked}}) </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>