page-list {
    .header_list{
        height: 5px;;
    }
    .supp{
        background-color: red;
    }
    .list-header-md{
        margin-bottom: 0;
    }
    .list-button{
        color: white;
        padding: 10px;
    }
    .AucunElem{
        color: rgb(73, 73, 73);
        padding: 15px;
        text-align: center;
    }    
    #quantity{
        position: fixed;
        margin: 0 0 0 50%;
    }
    #logo{
        margin-bottom: -3px;
    }
}
