// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #00C5E8,
  primary-bright:rgb(120, 221, 242),
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       rgb(73, 73, 73),
);

//Couleur du bouton actif de la tab
$tabs-ios-tab-text-color-active: #00C5E8;
$tabs-ios-tab-icon-color-active: #00C5E8;
$tabs-md-tab-text-color-active: #00C5E8;
$tabs-md-tab-icon-color-active: #00C5E8;

//Couleur du soulignage des inputs actifs
$text-input-md-highlight-color: #00C5E8;

//Couleur des checkbox
$checkbox-ios-background-color-on: #00C5E8;
$checkbox-md-icon-background-color-on: #00C5E8;
$checkbox-md-icon-border-color-on: #00C5E8;

//Affichage des flèches à droite des items dans une liste pour android
$item-md-detail-push-show: true;



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
