<ion-header>
  <ion-navbar>
    <ion-title>Modifier l'article</ion-title>
    <ion-buttons end>
      <button class="margin-header-button" ion-button icon-only (click)="Close()" color="light">Annuler</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="inputItem" (ngSubmit)="changeItem()">
    <ion-item>
      <ion-label class="police-m" color="dark">Nom du produit</ion-label>
      <ion-input type="text" value="{{this.item.title}}" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="police-m" color="dark">Quantité</ion-label>
      <ion-input type="number" value={{this.item.quantity}} formControlName="quantity"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="police-m" color="dark">Catégorie (optionnel)</ion-label>
      <ion-input type="text" value="{{this.item.category}}" formControlName="category"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="police-m" color="dark">Marque</ion-label>
      <ion-input type="text" value="{{this.item.brand}}" formControlName="brand"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="police-m" color="dark">Poids</ion-label>
      <ion-input type="text" value="{{this.item.weight}}" formControlName="weight"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="police-m" color="dark">Pays de vente</ion-label>
      <ion-input type="text" value="{{this.item.sellingCountry}}" formControlName="sellingCountry"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="police-m" color="dark">Ingredients</ion-label>
      <ion-input type="text" value="{{this.item.ingredient}}" formControlName="ingredient"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="police-m" color="dark">Conditionnement</ion-label>
      <ion-input type="text" value="{{this.item.packaging}}" formControlName="packaging"></ion-input>
    </ion-item>
    <button class="center" ion-button round type="submit" [disabled]="!inputItem.valid" >Valider</button>
  </form>
</ion-content>