// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background {
    background-color: #00C5E8;
  }

.toolbar-title {
color : #f2f2f2;

}
.button {
    background-color: #00C5E8;
}

.no-padding{
    padding: 0;
}
.police-s{
    font-size: 13px;
}
.police-l{
    font-size: 16px;
}
.police-m{
    font-size: 19px;
}
//Apliquer la même couleur foncée pour tout les text foncés de l'app
.dark{
    color: rgb(73, 73, 73);
}

.center{
    margin: 50px auto 0 auto;
    width: 170px;
    display: block;
}

.toast-container {
    background-color : #00C5E8;
    }

.item .item-block .item-md .item-input .item-label-stacked .ng-valid .ng-dirty .ng-touched {
    color:red;
}


.margin-header-button{
    margin-right: 5px;
}

//Font awesome
.fa-icons-general {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.ion-ios-fa-list-ul::before,
.ion-ios-fa-list-ul-outline::before,
.ion-md-fa-list-ul::before {
    @extend .fa-icons-general;
    content: "\f0ca";
    font-size: 22px;
}

.ion-ios-fa-plus::before,
.ion-ios-fa-plus-outline::before,
.ion-md-fa-plus::before {
    @extend .fa-icons-general;
    content: "\f067";
    font-size: 22px;
}   

.ion-ios-fa-edit::before,
.ion-md-fa-edit::before {
    @extend .fa-icons-general;
    content: "\f044";
    font-size: 22px;
}

//Marge des icones et des texts de la tabbar sur ios
.tabs-ios .tab-button-text {
    margin-bottom: 5px;
}

.tabs-ios .tab-button-icon {
    height: 23px;
}

//Patron Master Detail
.split-pane-side:not(ion-menu) {
    display: initial;
}
.split-pane-main {
    display: none;
}
.split-pane-visible {
    .split-pane-main {
        display: block;
    }
}
