<ion-header>
  <ion-navbar>
    <ion-title>Ajouter un produit</ion-title>
    <ion-buttons end>
      <button class="margin-header-button" ion-button icon-only (click)="Close()" color="light">Annuler</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="inputItem" (ngSubmit)="addItemToList()">
    <ion-item>
      <ion-label class="police-m" color="dark">Nom du produit</ion-label>
      <ion-input type="text" value="{{this.itemData.title}}" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="police-m" color="dark">Quantité</ion-label>
      <ion-input type="number" formControlName="quantity"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="police-m" color="dark">Categorie (optionnel)</ion-label>
      <ion-input type="text" value="{{this.itemData.category}}" formControlName="category"></ion-input>
    </ion-item>
    <button class="center" ion-button round type="button" (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </button>
    <button class="center" ion-button round type="button" (click)="takeScan()"> scanner
    </button>
    <button class="center" ion-button round type="submit" [disabled]="!inputItem.valid">Ajouter à la liste</button>
  </form>
  <img class="center" src="{{pathForImage(lastImage)}}" style="width: 50%" [hidden]="lastImage === null">
  <img class="center" src="{{this.itemData.image}}" style="width: 50%">
</ion-content>